# Archivos de configuración de entorno
.env
.secrets.toml
.streamlit/secrets.toml

# Entornos virtuales
venv/
.env/
.venv/
ENV/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de logs y temporales
*.log
*.tmp
*.swp

# Archivos creados por el sistema o IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter notebooks y checkpoints
*.ipynb
.ipynb_checkpoints/

# Archivos de datos grandes
*.csv
*.xlsx
*.json

# Carpeta de datos (si tienes)
data/
datasets/
notebooks/
images/
media/
